@import "../style/colors.scss";

.body {
    background: $darkColor;
    width: 88%;
    height: 100%;
    min-height: 100vh;
    margin-left: 12%;
    padding-top: 5%;

    h2 {
        font-family: 'Saira', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: $whiteColor;
        margin-left: 2%;
        margin-top: 2%;

        span {
            color: $yelloColor;
        }


    }

    .parent__presentaion_cards {
        position: relative;
        width: auto;
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2% 2% 4% 2%;
        border-bottom: 1px solid #000;



        div {
            position: relative;
            width: 30%;
            height: 90%;
            background: #1E1F26;
            border-radius: 2%;
            transition: 0.3s;
            padding: 0.5%;

            &:nth-child(2) {
                height: 98%;

                &:hover {
                    transform: scale(1.02);
                }
            }

            &:nth-child(1):hover,
            &:nth-child(3):hover {
                transform: scale(1.1);
            }

            img {
                height: 100%;
                width: 100%;
            }

            div {
                position: absolute;
                bottom: 0;
                background: linear-gradient(70deg, (#23262ef6), (#23262eca), (#fdfdfd00), (#fdfdfd00));
                width: 100%;
                height: 100% !important;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            p:nth-child(1) {
                font-family: 'Saira', sans-serif;
                font-size: 20px;
                font-weight: bolder;
                color: $whiteColor;
                text-transform: uppercase;
                padding: 2%;
            }

            p:nth-child(2) {
                color: $whiteColor;
                font-family: 'Saira',
                    sans-serif;
                font-size: 12px;
                font-weight: 400;
                padding: 0 2% 2% 2%;
                width: 70%;


            }

            span {
                display: block;

                img {
                    width: 4%;
                    margin: 0 5% 5% 0;
                    float: right;

                }
            }
        }

        ul {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: -12%;

            li {
                display: block;
                list-style: none;
                margin: 6%;


                button {
                    color: $whiteColor;
                    border: none;
                    background: $grayColor;
                    padding: 18%;
                    border-radius: 4%;
                    font-family: 'Saira', sans-serif;
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        color: $yelloColor;
                        transform: scale(1.05);
                    }

                }
            }
        }


    }

}