@import "../style/colors.scss";

.search__page {
    width: auto;
    height: auto;
    min-height: 100vh;
    padding-bottom: auto;
    padding-left: 1%;
    margin-left: 12%;
    padding-right: 6%;
    padding-bottom: auto;
    background: $darkColor;
    position: relative;


    @media (max-width: 770px) {
        width: 100%;
        margin-left: 0%;
        overflow-x: hidden;
    }

    h1 {
        color: $whiteColor;
        font-size: 30px;
        text-align: center;
    }

    h3 {
        margin-top: 20%;
        color: $whiteColor;
    }
}