@import "../style/colors.scss";

.search__page {
    width: 88%;
    height: auto;
    min-height: 100vh;
    padding-bottom: auto;
    padding-left: 1%;
    margin-left: 12%;
    padding-right: 6%;
    padding-bottom: auto;
    background: $darkColor;
    position: relative;


    @media (max-width: 780px) {
        width: auto;
        margin-left: -10%;
        overflow-x: hidden;
    }

    h3 {
        margin-top: 20%;
        color: $whiteColor;
    }
}